<%= render "shared/notice", {:notice => notice} %>

<% unless @book.in_progress? %>
  <div class="turn-pages">
    <%  if @book.owners_page %>
      <%= link_to 'Weiter', [@book, @book.owners_page], :class => 'next' %>
    <% end %>
  </div>
<% end %>



<% if current_user && @book.owner?(current_user) && @book.in_progress? %>
  <h1><%= @book.title %></h1>

  <%= render 'wizzard' %>
<% else %>

  <h1 class="book-title"><%= @book.title %></h1>
  <h2 class="book-owner">Dieses Buch gehört: <strong><%= @book.user.name %></strong></h2>
  

  <% if current_user %>
    <div class="book-friends">
      
      <% unless @book.pages.select{|p| p.image.file? }.empty? %>
  			<h3>Bereits ausgefüllt:</h3>
  			<ul class="friends">
  			  <% @book.pages.select{|p| p.image.file? }.each do |page| %>
    			  <li>
    			    <%= link_to_if(current_user, image_tag(page.image.url(:thumb)), book_page_path(@book,page)) %>
    			  </li>  
  			  <% end %>
  			</ul>
			<% end %>
			
			<% unless @book.pages.select{|p| !p.image.file? && !p.never_updated? }.empty? %>
  			<h3 style="margin-top: 1.5em">Ohne Bild:</h3>
  			<ul>
  			  <% @book.pages.select{|p| !p.image.file? && !p.never_updated? }.each do |page| %>
    			  <li>
    			    <%= link_to_if(current_user, page.user.name, book_page_path(@book,page)) %>
    			  </li>
  			  <% end %>			  
  			</ul>
		  <% end %>			  
      
      <% if @book.has_page_for_user?(current_user) && @book.page_for_user(current_user).updateable? && @book.page_for_user(current_user).never_updated? %>
        <h2 class="step"><span class="bignum">1.</span><span class="title">Nächster Schritt: „Fülle deine Seite aus“</span>
  </h2>
      <p>
        <%= link_to 'Seite ausfüllen', edit_book_page_path(@book, @book.page_for_user(current_user)), :class => "button special" %>
      </p>
      <% end %>
	  </div>
	  <% if @book.owner?(current_user) && !@book.in_progress? %>
	    <%= render 'invite' %>
	  <% end %>
	<% else %>
    <div class="login">
      <strong>Gib deinen Code ein:</strong>
      <%= form_tag(login_path) do %>
        <%= hidden_field_tag 'book_id', @book.id %>
        <div><%= text_field_tag 'key' %></div>
        <div><%= submit_tag 'Einloggen' %></div>
      <% end %>
    </div>
  <% end %>
<% end %>